{% extends '@AcMarcheMeriteSportif/layout_front.html.twig' %}

{% block body %}
    <div class="card">

        <h3 class="card-header">Envoie des mails</h3>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary" type="submit"><i class="ti ti-device-floppy"></i> Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}