<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-haspopup="true"
       aria-expanded="false">{{ app.user.nom }}</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">

        <a href="{{ path('app_logout') }}" class="dropdown-item" title="Se déconnecter"><i
                    class="ti ti-logout-2"></i> Se déconnecter</a>

    </div>
</li>
