<!doctype html>
<html lang="fr" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Challenge & Mérites Sportifs{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('bundles/acmarchemeritesportif/favicon.ico') }}"/>
    {% block stylesheets %}{% endblock %}

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}

</head>
<body class="d-flex flex-column h-100">
{% set action = app.request.attributes.get("_route") %}
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm border-bottom">
    <div class="container">
        <a class="navbar-brand" href="{{ path('merite_home') }}">
            <i class="fa fa-football-ball d-inline-block align-text-top"></i>
            <span class="ms-2 fs-4 navbar-text">Merite</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {% block menu_top %}

            {% endblock %}
        </div>
    </div>
</nav>

<main role="main" class="container pt-3">

    {% include '@AcMarcheMeriteSportif/_flash_messages.html.twig' %}

    {% block notifications %}

    {% endblock %}

    {% block body %}

    {% endblock %}
</main>

{% block footer %}
    <footer class="footer mt-auto py-3 bg-light">
        <div class="container">
            <span class="text-muted"> {% include '@AcMarcheMeriteSportif/signature.html.twig' %}</span>
        </div>
    </footer>
{% endblock %}
{% block scripts %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>